@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.ellipse-main {
  position: absolute;
  width: 679px;
  height: 679px;
  left: -50px;
  top: -24px;
  z-index: -1;
}

.header__row {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #272D38;
}
.header__menu {
  max-width: 60%;
}
.header__menu ul {
  display: flex;
  justify-content: space-evenly;
}
.header__menu li {
  margin: 0 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 153% */
  text-transform: lowercase;
}
.header__menu li a {
  color: #272D38;
}

.home {
  margin-top: 97px;
}
.home__row {
  display: flex;
  justify-content: space-between;
}
.content__title h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */
  text-transform: capitalize;
  color: #272D38;
}
.content__discription {
  margin-top: 24px;
}
.content__discription p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 153% */
  text-transform: capitalize;
  color: #272D38;
}
.content__btn {
  margin-top: 44px;
}
.content__btn a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 172% */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 30px;
  background: #8EADD5;
  border-radius: 8px;
  max-width: 167px;
}

.links {
  margin-top: 157px;
  display: flex;
  justify-content: space-evenly;
}
.links__header {
  text-align: center;
  margin-bottom: 16px;
}
.links__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  text-transform: capitalize;
  color: #667085;
}
.links__row {
  padding: 25px;
  background-color: #F6F6F6;
  border-radius: 8px;
  margin: 0 auto;
}
.links__row a {
  padding-right: 115px;
}
.links__row a:last-child {
  padding-right: 0px;
}