@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.ellipse-main {
  position: absolute;
  width: 679px;
  height: 679px;
  left: -50px;
  top: -24px;
  z-index: -1;
}

.header__row {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #272D38;
}
.header__menu {
  max-width: 60%;
}
.header__menu ul {
  display: flex;
  justify-content: space-evenly;
}
.header__menu li {
  margin: 0 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 153% */
  text-transform: lowercase;
}
.header__menu li a {
  color: #272D38;
}

.hamburger-menu {
  max-width: 60%;
}

.menu {
  max-width: 60%;
}
.menu__box {
  display: flex;
  justify-content: space-evenly;
}
.menu__item {
  margin: 0 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 153% */
  text-transform: lowercase;
  color: #272D38;
}

.home {
  margin-top: 97px;
}
.home__row {
  display: flex;
  justify-content: space-between;
}
.content__title h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  /* or 64px */
  text-transform: capitalize;
  color: #272D38;
}
.content__discription {
  margin-top: 24px;
}
.content__discription p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 153% */
  text-transform: capitalize;
  color: #272D38;
}
.content__btn {
  margin-top: 44px;
}
.content__btn a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 172% */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 30px;
  background: #8EADD5;
  border-radius: 8px;
  max-width: 167px;
}

.links {
  margin-top: 157px;
  display: flex;
  justify-content: space-evenly;
}
.links__header {
  text-align: center;
  margin-bottom: 16px;
}
.links__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  text-transform: capitalize;
  color: #667085;
}
.links__row {
  padding: 25px;
  background-color: #F6F6F6;
  border-radius: 8px;
  margin: 0 auto;
}
.links__row a {
  padding-right: 115px;
}
.links__row a:last-child {
  padding-right: 0px;
}

.creative {
  margin-top: 136px;
}
.creative__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.creative__img {
  max-width: 450px;
}
.creative__content {
  max-width: 453px;
}
.creative__title {
  padding-bottom: 26px;
}
.creative__title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */
  text-transform: capitalize;
  color: #272D38;
}
.creative__discription {
  padding-bottom: 46px;
}
.creative__discription p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 172% */
  text-transform: capitalize;
  color: #272D38;
}
.ellipse-creative {
  position: absolute;
  right: 0;
  top: 831px;
  z-index: -1;
}

.custom {
  margin-top: 136px;
}
.custom__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom__content {
  max-width: 450px;
}
.custom__title {
  padding-bottom: 25px;
}
.custom__title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */
  text-transform: capitalize;
  color: #272D38;
}
.custom__discription {
  padding-bottom: 45px;
}
.custom__discription p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 172% */
  text-transform: capitalize;
  color: #272D38;
}
.custom__img {
  max-width: 450px;
}

.reviews {
  margin-top: 136px;
}
.reviews__header {
  text-align: center;
}
.reviews__title {
  padding-bottom: 16px;
}
.reviews__title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 172% */
  text-transform: capitalize;
  color: #272D38;
}
.reviews__discriptions {
  padding-bottom: 38px;
}
.reviews__discriptions p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */
  text-align: center;
  text-transform: capitalize;
  color: #272D38;
}
.reviews__row {
  display: flex;
}
.reviews__columns {
  display: flex;
}
.reviews__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: #F6F6F6;
  border-radius: 20px;
  margin-right: 15px;
}
.reviews__column:last-child {
  margin-right: 0px;
}
.reviews__column-img {
  max-width: 129px;
  padding-bottom: 8px;
}
.reviews__column-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 153% */
  text-transform: capitalize;
  color: #272D38;
}
.reviews__column-body {
  padding-top: 27px;
}
.reviews__column-body p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #272D38;
}

.works {
  margin-top: 136px;
}
.works__row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #F6F6F6;
  border-radius: 20px;
}
.works__img {
  max-width: 650px;
}
.works__body {
  max-width: 650px;
}
.works__body-title {
  max-width: 360px;
  padding-bottom: 16px;
}
.works__body-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */
  color: #272D38;
}
.works__body-discription {
  max-width: 360px;
  padding-bottom: 32px;
}
.works__body-discription p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 172% */
  color: #272D38;
}
.works__body-btn a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* or 172% */
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 30px;
  background: #8EADD5;
  border-radius: 8px;
}

.footer {
  background: #F6F6F6;
  margin-top: 138px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 144px;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column-title {
  padding-bottom: 34px;
}
.footer__column-title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* or 153% */
  text-transform: capitalize;
  color: #272D38;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  max-width: 190px;
}
.footer__column-links a {
  /* Span Text */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-transform: capitalize;
  color: #272D38;
  padding-bottom: 24px;
}
.footer .tag {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  color: #272D38;
}

#menu__toggle {
  display: none;
}

@media (min-width: 320px) and (max-width: 805px) {
  .ellipse-main {
    display: none;
  }

  .header__row {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    padding-left: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #272D38;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #8EADD5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .home_img img {
    max-width: 320px;
  }
  .home__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__title {
    text-align: center;
    max-width: 378px;
  }
  .content__title h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .content__discription p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 172% */
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .content__btn a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    /* or 196% */
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 15px;
  }

  .links {
    margin-top: 157px;
  }
  .links__header {
    text-align: center;
    margin-bottom: 16px;
  }
  .links__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    text-transform: capitalize;
    color: #667085;
  }
  .links__row {
    display: flex;
    padding: 25px;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 8px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .links__row a {
    padding-right: 15px;
  }
  .links__row a img {
    max-width: 50px;
  }
  .links__row a:last-child {
    padding-right: 0px;
  }
  .links__row a:last-child img {
    max-width: 50px;
  }

  .creative {
    margin-top: 136px;
  }
  .creative__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .creative__img {
    order: 2;
  }
  .creative__img img {
    max-width: 320px;
  }
  .creative__content {
    max-width: 375px;
    order: 1;
  }
  .creative__title {
    padding-bottom: 26px;
  }
  .creative__title h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .creative__discription {
    padding-bottom: 46px;
  }
  .creative__discription p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* or 196% */
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .creative__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .creative__btn a img {
    transform: rotate(90deg);
  }

  .ellipse-creative {
    position: absolute;
    right: 0;
    top: 831px;
    z-index: -1;
  }

  .custom {
    margin-top: 136px;
  }
  .custom__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .custom__content {
    max-width: 450px;
  }
  .custom__title {
    padding-bottom: 25px;
  }
  .custom__title h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .custom__discription {
    padding-bottom: 45px;
  }
  .custom__discription p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* or 196% */
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .custom__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .custom__btn a img {
    transform: rotate(90deg);
  }
  .custom__img img {
    max-width: 320px;
  }

  .reviews {
    margin-top: 136px;
  }
  .reviews__header {
    text-align: center;
  }
  .reviews__title {
    padding-bottom: 16px;
  }
  .reviews__title h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    /* or 229% */
    text-transform: capitalize;
    color: #272D38;
  }
  .reviews__discriptions {
    padding-bottom: 38px;
  }
  .reviews__discriptions p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }
  .reviews__row {
    display: flex;
  }
  .reviews__columns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .reviews__column {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background: #F6F6F6;
    border-radius: 20px;
    margin: 20px 25px;
  }
  .reviews__column:last-child {
    margin-right: 25px;
  }
  .reviews__column-img {
    max-width: 129px;
    padding-bottom: 8px;
  }
  .reviews__column-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 153% */
    text-transform: capitalize;
    color: #272D38;
  }
  .reviews__column-body {
    padding-top: 27px;
  }
  .reviews__column-body p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #272D38;
  }

  .works {
    margin-top: 136px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .works__row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #F6F6F6;
    border-radius: 20px;
    padding: 50px 35px;
    margin: 20px;
    max-width: 380px;
  }
  .works__img {
    display: none;
  }
  .works__body {
    max-width: 380px;
  }
  .works__body-title {
    max-width: 360px;
    padding-bottom: 16px;
  }
  .works__body-title h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */
    text-align: center;
    color: #272D38;
  }
  .works__body-discription {
    max-width: 360px;
    padding-bottom: 32px;
  }
  .works__body-discription p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 172% */
    text-align: center;
    color: #272D38;
  }
  .works__body-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__body-btn a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* or 172% */
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #8EADD5;
    border-radius: 8px;
  }

  .footer {
    background: #F6F6F6;
    margin-top: 138px;
  }
  .footer__columns {
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
    padding-bottom: 144px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__column {
    display: flex;
    flex-direction: column;
  }
  .footer__column-title {
    padding-bottom: 34px;
  }
  .footer__column-title h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* or 153% */
    text-transform: capitalize;
    color: #272D38;
  }
  .footer__column-links {
    display: flex;
    flex-direction: column;
    max-width: 190px;
  }
  .footer__column-links a {
    /* Span Text */
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-transform: capitalize;
    color: #272D38;
    padding-bottom: 24px;
  }
  .footer .tag {
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    color: #272D38;
  }
}