        @import "nullstyle.scss";
        .container {
            max-width: 1080px;
            margin: 0 auto;
        }
        
        .wrapper-nav {}
        
        .ellipse-main {
            position: absolute;
            width: 679px;
            height: 679px;
            left: -50px;
            top: -24px;
            z-index: -1;
        }
        
        .header {
            &__row {
                padding-top: 48px;
                display: flex;
                justify-content: space-between;
            }
            &__logo {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #272D38;
            }
            &__menu {
                max-width: 60%;
                ul {
                    display: flex;
                    justify-content: space-evenly;
                }
                li {
                    margin: 0 22px;
                    // 
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    /* identical to box height, or 153% */
                    text-transform: lowercase;
                    a {
                        color: #272D38;
                    }
                }
            }
        }
        
        .hamburger-menu {
            max-width: 60%;
        }
        
        .menu {
            max-width: 60%;
            &__box {
                display: flex;
                justify-content: space-evenly;
            }
            &__item {
                margin: 0 22px;
                // 
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                /* identical to box height, or 153% */
                text-transform: lowercase;
                color: #272D38;
            }
        }
        
        // home
        .home {
            margin-top: 97px;
            &_img {}
            &__row {
                display: flex;
                justify-content: space-between;
            }
            &__content {}
        }
        
        .content {
            &__title {
                h1 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 100%;
                    /* or 64px */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__discription {
                margin-top: 24px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    /* or 153% */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__btn {
                margin-top: 44px;
                a {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 28px;
                    /* identical to box height, or 172% */
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 15px 30px;
                    background: #8EADD5;
                    border-radius: 8px;
                    max-width: 167px;
                }
            }
        }
        
        // links
        .links {
            margin-top: 157px;
            &__header {
                text-align: center;
                margin-bottom: 16px;
            }
            &__title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 100%;
                /* identical to box height, or 16px */
                text-transform: capitalize;
                color: #667085;
            }
            display: flex;
            justify-content: space-evenly;
            &__row {
                padding: 25px;
                background-color: #F6F6F6;
                border-radius: 8px;
                margin: 0 auto;
                a {
                    padding-right: 115px;
                }
                a:last-child {
                    padding-right: 0px;
                }
            }
        }
        
        // creative
        .creative {
            margin-top: 136px;
            &__row {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__img {
                max-width: 450px;
            }
            &__content {
                max-width: 453px;
            }
            &__title {
                padding-bottom: 26px;
                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 100%;
                    /* or 48px */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__discription {
                padding-bottom: 46px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    /* or 172% */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__btn {}
        }
        
        .ellipse-creative {
            position: absolute;
            right: 0;
            top: 831px;
            z-index: -1;
        }
        
        // custom
        .custom {
            margin-top: 136px;
            &__row {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__content {
                max-width: 450px;
            }
            &__title {
                padding-bottom: 25px;
                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 100%;
                    /* or 48px */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__discription {
                padding-bottom: 45px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    /* or 172% */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__btn {}
            &__img {
                max-width: 450px;
            }
        }
        
        .reviews {
            margin-top: 136px;
            &__header {
                text-align: center;
            }
            &__title {
                padding-bottom: 16px;
                h5 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    /* or 172% */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__discriptions {
                padding-bottom: 38px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 100%;
                    /* or 48px */
                    text-align: center;
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__row {
                display: flex;
            }
            &__columns {
                display: flex;
            }
            &__column {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 32px;
                background: #F6F6F6;
                border-radius: 20px;
                margin-right: 15px;
            }
            &__column:last-child {
                margin-right: 0px;
            }
            &__column-img {
                max-width: 129px;
                padding-bottom: 8px;
            }
            &__column-name {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                /* identical to box height, or 153% */
                text-transform: capitalize;
                color: #272D38;
            }
            &__column-body {
                padding-top: 27px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 130%;
                    /* or 18px */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
        }
        
        .works {
            margin-top: 136px;
            &__row {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background: #F6F6F6;
                border-radius: 20px;
            }
            &__img {
                max-width: 650px;
            }
            &__body {
                max-width: 650px;
            }
            &__body-title {
                max-width: 360px;
                padding-bottom: 16px;
                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 100%;
                    /* or 48px */
                    color: #272D38;
                }
            }
            &__body-discription {
                max-width: 360px;
                padding-bottom: 32px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    /* or 172% */
                    color: #272D38;
                }
            }
            &__body-btn {
                a {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 28px;
                    /* or 172% */
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 15px 30px;
                    background: #8EADD5;
                    border-radius: 8px;
                }
            }
        }
        
        .footer {
            background: #F6F6F6;
            margin-top: 138px;
            &__row {}
            &__columns {
                display: flex;
                justify-content: space-between;
                padding-top: 104px;
                padding-bottom: 144px;
            }
            &__column {
                display: flex;
                flex-direction: column;
            }
            &__column-title {
                padding-bottom: 34px;
                h5 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    /* or 153% */
                    text-transform: capitalize;
                    color: #272D38;
                }
            }
            &__column-links {
                display: flex;
                flex-direction: column;
                max-width: 190px;
                a {
                    /* Span Text */
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 150%;
                    /* or 24px */
                    text-transform: capitalize;
                    color: #272D38;
                    padding-bottom: 24px;
                }
            }
            .tag {
                text-align: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 100%;
                /* identical to box height, or 16px */
                color: #272D38;
            }
        }
        
        #menu__toggle {
            display: none;
        }
        
        @media (min-width:320px) and (max-width: 805px) {
            @import "_adaptivephone";
        }